# ===========================================================
# https://codeberg.org/duras/duras | .gitignore
# ===========================================================

# --- Python ------------------------------------------------
__pycache__/
*.py[cod]
*.so

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
.pybuild/

# Virtual environments
.venv/
venv/
env/

# Testing / Tooling
.coverage
.pytest_cache/
.mypy_cache/
.cache
mypy_errors.txt

# --- Debian packaging -------------------------------------
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
*.orig.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/*.substvars
debian/*.log
debian/duras/

# --- Editor / OS ------------------------------------------
*~
*.swp
*.swo
*.swn
*.swm
*.tmp
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# --- Project Data & Security ------------------------------
notes/
memos/
secrets/
temp/
.Notes/
Notes/

# Sensitive Extensions
*.dn
*.dn.gpg
*.asc
*.pgp
*.gpg
*.env
*.key
*.pem
*.secret
*.ini
credentials.txt
my_config.py
